
.navZIndex{
  z-index: 100;
}

.box:hover{
    box-shadow: inset 29rem 0 0 0 #CC8C18;
}

.formElem1{
    display: flex;
    gap: 1.5rem;
    height: 2.5rem;
    width: 10rem;
}

.formElem2{
    background-color: #F9F9F9;
    color: black;
    width: 13rem;
    padding: 1.5rem 1.5rem;
    border: 1px solid #e0dddd;
    border-radius: 0.5rem;
}

.contact1{
    height: 3rem;
    width: 3rem;
    color: #CC8C18;
    border: 2px dotted #CC8C18;
    border-radius: 50%;
}

.heart{
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.15 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.15 );
  }
  80%
  {
    transform: scale( 1);
  }
  100%
  {
    transform: scale( 1 );
  }
}

.SocialIcons:hover{
  animation: 1s ease-in-out 0s normal none infinite jello-horizontal;
  background-color: #CC8C18;
}

  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }